<div class="News">
  {% if site.News != blank %}
    {% assign News_size = site.News | size %}
    <div
      class="table-responsive"
      {% if include.limit and site.announcements.scrollable and News_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <ul>
        {% assign News = site.News | reverse %}
        {% if include.limit and site.announcements.limit %}
          {% assign News_limit = site.announcements.limit %}
        {% else %}
          {% assign News_limit = News_size %}
        {% endif %}
        {% for item in News limit: News_limit %}
          <li>
            <strong>{{ item.date | date: '%b %d, %Y' }}</strong>:
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="News-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>No News so far...</p>
  {% endif %}
</div>